@font-face {
  font-family: "Be Vietnam Pro";
  src: url("/fonts/BeVietnamPro-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Be Vietnam Pro";
  src: url("/fonts/BeVietnamPro-Semibold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Be Vietnam Pro";
  src: url("/fonts/BeVietnamPro-Bold.ttf") format("truetype");
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
}

body {
  font-size: 16px;
  line-height: 1.5;
  min-height: 100dvh;
}

.text-heading {
  font-weight: 700;
  font-size: 2rem;
}

.text-big {
  font-weight: 600;
  font-size: 4rem;
}

.text-body {
  font-weight: 400;
  font-size: 1rem;
}

.text-body-semibold {
  font-weight: 600;
  font-size: 1rem;
}

#app {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

header,
main {
  width: 100%;
}

header {
  padding: 2rem 0;
  background-color: oklch(98.415% 0.00352 248.585);
  background-image: url("../resources/bg-pattern.png");
}

a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.pricing__table {
  display: grid;
  grid-template-rows: auto auto auto;
  overflow: hidden;
  text-align: center;
  margin: 2rem;
}
.pricing__table__plan, .pricing__table__details, .pricing__table__cta {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, minmax(120px, 1fr));
}
.pricing__table__plan > *:nth-child(4), .pricing__table__details > *:nth-child(4), .pricing__table__cta > *:nth-child(4) {
  color: oklch(100% 0.00011 271.152);
}
.pricing__table__plan > *:nth-child(4), .pricing__table__details > *:nth-child(4) {
  background-color: oklch(21.031% 0.02941 266.136);
}
.pricing__table__plan > div {
  padding-block: 2rem;
  border-radius: 20px 20px 0 0;
}
.pricing__table__plan > div:nth-child(4) > p:nth-child(1) {
  display: flex;
  width: 6rem;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  border-radius: 1rem;
  background-color: oklch(42.02% 0.17214 267.786);
}
.pricing__table__plan > div p:nth-child(2) {
  font-size: 4rem;
}
.pricing__table__details img {
  display: block;
  margin: 0 auto;
}
.pricing__table__details > div:nth-child(1) {
  text-align: left;
  padding-left: 1rem;
  border-radius: 20px 0 0 20px;
  background-color: oklch(92.758% 0.00592 264.656);
}
.pricing__table__details > div > * {
  line-height: normal;
  padding-block: 1.5rem;
  border-bottom: 1px solid oklch(44.735% 0.02371 260.161/0.2);
}
.pricing__table__details > div > div:nth-child(n+2):nth-child(-n+5) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.pricing__table__cta > a {
  padding-block: 2rem;
}
.pricing__table__cta > a:nth-child(4) {
  border-radius: 0 0 20px 20px;
  background-color: oklch(46.899% 0.08752 64.664);
}
.pricing__table__plan > div:nth-child(1), .pricing__table__details > div:nth-child(1), .pricing__table__cta > div:nth-child(1) {
  left: 0;
  z-index: 2;
  position: sticky;
}
.pricing__table__plan > div:nth-child(2), .pricing__table__details > div:nth-child(2), .pricing__table__cta > div:nth-child(2) {
  min-width: 200px;
}
.pricing__table__plan > div:nth-child(3), .pricing__table__details > div:nth-child(3), .pricing__table__cta > div:nth-child(3) {
  min-width: 200px;
}
.pricing__table__plan > div:nth-child(4), .pricing__table__details > div:nth-child(4), .pricing__table__cta > div:nth-child(4) {
  min-width: 200px;
}
.pricing__table__plan > div:nth-child(5), .pricing__table__details > div:nth-child(5), .pricing__table__cta > div:nth-child(5) {
  min-width: 200px;
}

.hero {
  margin: auto;
  max-width: 29rem;
  text-align: center;
}
.hero .text-body {
  color: oklch(44.735% 0.02371 260.161);
}/*# sourceMappingURL=style.css.map */