@use '../base/color' as c;
@use '../base/typography' as t;

.pricing__table {
  width: auto;
  margin: 2rem;
  display: grid;
  grid-template-columns: auto 1fr;

  // STICKY COLUMN (COLUMN 1)
  &__sticky {
    left: 0;
    top: 0;
    z-index: 10;
    display: grid;
    position: sticky;
    height: fit-content;
    grid-template-rows: 172px auto 64px;

    > div:nth-child(1),
    div:nth-child(3) {
      background-color: c.$color-white;
    }

    > div:nth-child(2) {
      text-align: left;
      width: 7rem;
      display: grid;
      max-width: 100%;
      height: fit-content;
      align-items: stretch;
      border-radius: 20px 0 0 20px;
      background-color: c.$color-gray-light;

      > * {
        overflow: hidden;
        padding-inline: 1rem;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        word-wrap: break-word;
        word-break: break-word;
        box-sizing: border-box;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
      }
    }
    @media (min-width: 768px) {
      > div:nth-child(2) {
        width: auto;

        > * {
          display: flex;
          justify-content: left;
        }
      }
    }
  }

  &__sticky > div:nth-child(2) > *,
  &__scroll > &__scroll__details > div > * {
    height: 2.8rem;
    line-height: 1.5;
    padding-block: 1rem;
    border-bottom: 1px solid c.$color-gray-transparent;
  }

  @media (min-width: 768px) {
    &__sticky > div:nth-child(2) > *,
    &__scroll > &__scroll__details > div > * {
      height: max-content;
      line-height: normal;
    }
  }

  // SCROLLABLE COLUMNS (COLUMN 2-5)
  &__scroll {
    display: grid;
    overflow-x: auto;
    scrollbar-width: thin;
    scroll-snap-type: x mandatory;
    grid-template-rows: auto auto auto;

    > div {
      display: grid;
      text-align: center;
      min-width: max-content;
      grid-template-columns: repeat(4, minmax(120px, 1fr));
      > * {
        scroll-snap-align: start;
      }
    }

    &__plan > div:nth-child(3),
    &__details > div:nth-child(3),
    &__cta > :nth-child(3) {
      color: c.$color-white;
    }
    &__plan > div:nth-child(3),
    &__details > div:nth-child(3) {
      background-color: c.$color-primary-dark;
    }

    &__plan {
      > div {
        padding-block-start: 1.5rem;

        @media (min-width: 768px) {
          padding-inline: 1rem;
        }

        &:nth-child(3) {
          border-radius: 20px 20px 0 0;
          > p:nth-child(1) {
            width: 6rem;
            margin: 0 auto;
            display: flex;
            text-align: center;
            border-radius: 1rem;
            justify-content: center;
            background-color: c.$color-blue-primary;
          }
        }
        > p:nth-child(2) {
          font-size: t.$font-size-big-text;
        }
      }
    }

    &__details > div > * {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    &__cta {
      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-decoration: none;
      }
      :nth-child(3) {
        padding-block: 1rem;
        border-radius: 0 0 20px 20px;
        background-color: c.$color-brown-dark;
      }
    }
  }
}