@use '../base/color' as c;
@use '../base/typography' as t;

.pricing__table {
  display: grid;
  grid-template-rows: auto auto auto;
  overflow: hidden;
  text-align: center;
  margin: 2rem;

  &__plan,
  &__details,
  &__cta {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, minmax(120px, 1fr));
    > *:nth-child(4) {
      color: c.$color-white;
    }
  }
  &__plan,
  &__details {
    > *:nth-child(4) {
      background-color: c.$color-primary-dark;
    }
  }
  &__plan {
    > div {
      padding-block: 2rem;
      border-radius: 20px 20px 0 0;
      &:nth-child(4) > p:nth-child(1) {
        display: flex;
        width: 6rem;
        margin: 0 auto;
        text-align: center;
        justify-content: center;
        border-radius: 1rem;
        background-color: c.$color-blue-primary;
      }
      p:nth-child(2) {
        font-size: t.$font-size-big-text;
      }
    }
  }
  &__details {
    img {
      display: block;
      margin: 0 auto;
    }
    > div {
      &:nth-child(1) {
        text-align: left;
        padding-left: 1rem;
        border-radius: 20px 0 0 20px;
        background-color: c.$color-gray-light;
      }
      > * {
        line-height: normal;
        padding-block: 1.5rem;
        border-bottom: 1px solid c.$color-gray-transparent;
      }
      > div:nth-child(n + 2):nth-child(-n + 5) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
    }
  }
  &__cta {
    > a {
      padding-block: 2rem;
      &:nth-child(4) {
        border-radius: 0 0 20px 20px;
        background-color: c.$color-brown-dark;
      }
    }
  }
  @for $i from 1 through 5 {
    @if $i == 1 {
      &__plan > div:nth-child(#{$i}),
      &__details > div:nth-child(#{$i}),
      &__cta > div:nth-child(#{$i}) {
        left: 0;
        z-index: 2;
        position: sticky;
      }
    } @else {
      &__plan > div:nth-child(#{$i}),
      &__details > div:nth-child(#{$i}),
      &__cta > div:nth-child(#{$i}) {
        min-width: 200px;
      }
    }
  }
}
