$color-primary-dark: oklch(21.031% 0.02941 266.136);
$color-gray-light: oklch(92.758% 0.00592 264.656);
$color-white: oklch(100% 0.00011 271.152);
$color-blue-primary: oklch(42.02% 0.17214 267.786);
$color-gray-lightest: oklch(98.415% 0.00352 248.585);
$color-gray-medium: oklch(44.735% 0.02371 260.161);
$color-brown-dark: oklch(46.899% 0.08752 64.664);
$color-gray-transparent: oklch(44.735% 0.02371 260.161 / 0.2);